
              runtime_minutes = "${{ steps.cfg.outputs.runtime }}"

              loops           = "$next"

            }

          } | ConvertTo-Json -Depth 5



          Invoke-RestMethod -Method POST `

            -Uri "https://api.github.com/repos/${{ github.repository }}/actions/workflows/windows-rdp-tailscale-A.yml/dispatches" `

            -Headers @{ Authorization = "Bearer $token"; "Accept"="application/vnd.github+json" } `

            -Body $body
